.App {
  text-align: center;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  height: 100vh;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin: 0;
  font-size: 75px;
  color: white;
  padding-top: 25%;
}
h3 {
  color: white;
  font-weight: 500;
}
.headshotImg img {
  width: 300px;
}
.subtitle {
  color: black;
}
.name {
  font-weight: 200;
}
.scroll img {
  margin-top: 25%;
  width: 50px;
}