.App {
  text-align: center;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  height: 100vh;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin: 0;
  font-size: 75px;
  color: white;
  padding-top: 25%;
}
h3 {
  color: white;
  font-weight: 500;
}
.headshotImg img {
  width: 250px;
}
.subtitle {
  color: black;
}
.name {
  font-weight: 200;
}
.scroll img {
  margin-top: 10%;
  width: 55px;
}
.aboutMe {
  display: grid;
  grid-template-columns: 40% 60%;
	grid-auto-rows: 25%;
	grid-gap: 5px;
  margin: 1rem;
}
.column2 {
  margin: 1rem;
}
ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1rem;
  margin: 1rem;
  padding: 0px;
  margin-top: 2rem;
  font-style: italic;
}
